<html>
    <head>
        <title>New Contact</title>
    </head>
    <body>
        <h1>You added contact: </h1>
        <p>Name: {{newContact.getName}}</p>
        <p>Phone: {{newContact.getPhone}}</p>
        <p>Address: {{newContact.getAddress}}</p>
        <a href="/">Home</a>
    </body>
</html>
