<html>
    <head>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Address Book</title>
    </head>
    <body>
        <div class='container'>
            <h2>You cleared your address book</h2>
            <br>
            <a href="/">Back</a>
            <img src="img/scared.png" alt="photo of scared face">
        </div>
    </body>
</html>
